@font-face {
  font-family: "Montserratv2";
  src: url("../../../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserratv2";
  src: url("../../../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 200;
}

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 90vh;
  width: 60%;
}

.about-div .about-title {
  font-family: "MetropolisBold";
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 5vw;
}
.about-div .about-text {
  /* margin-top: 50px; */
  font-size: 17px;
  color: #ffffff;
  font-family: "Montserratv2";
  font-weight: 200;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 60%;
  overflow-y: scroll;
  padding: 10px 20px;
  box-shadow: inset 0px -5px 50px rgba(0, 0, 0, 0.2),
    inset 0px 5px 50px rgba(0, 0, 0, 0.2);
}
.about-div .about-text::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.about-div .about-text::-webkit-scrollbar-thumb {
  background-color: #ff00008a;
  border-radius: 10px;
}

.about-div .about-text::-webkit-scrollbar-track {
  background-color: #f0f0f000;
  border-radius: 10px;
}

.image-div {
  position: relative;
  /* background-color: yellowgreen; */
  width: 50%;
  height: 100vh;
}

.image-div img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.icons {
  display: flex;
}

.icons .icon-btn {
  transition: 0.5s;
}
.icons .icon-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .about-div .about-title {
    font-size: 10vw;
  }

  .about-div .about-text {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .about-div .about-title {
    font-size: 5vw;
  }
}
