@font-face {
  font-family: "Montserratv2";
  src: url("../../../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserratv2";
  src: url("../../../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 200;
}

.container {
  position: relative;
}

.list-item {
  font-family: Montserratv2;
  font-weight: 200;
}
.link {
  text-decoration: none;
  color: black;
}
.second-word {
  color: #cd1b1b;
  animation: blinkCursor 1s ease-in-out infinite;
}

@keyframes blinkCursor {
  from,
  to {
    border-right: 3px solid transparent; /* İmleç başlangıçta ve sonunda görünmez */
  }
  50% {
    border-right: 3px solid #cd1b1b; /* İmleç görünür */
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  width: 50%;
}

.text-section .name {
  font-family: "MetropolisBold";
  color: black;
  margin: 0;
  animation: fadeInDown 1.5s ease-in-out forwards;
}

.text-section .about {
  margin: 0;
  font-size: 20px;
  color: #848484;
  font-family: "Montserratv2";
  font-weight: 200;
  animation: fadeInUp 0.6s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn-section {
  animation: fadeInUp 1.5s ease-in-out forwards;
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.btn-section .btn {
  border-radius: 40px;
  font-family: "Montserratv2";

  width: 110px;
  font-size: 12px;
}

.btn-section .btn:hover {
  background-color: #920000;
  transition: 0.5s;
}

.btn-section .second-button:hover {
  color: #ffffff;
}

.btn-section .first-button {
  margin-right: 25px;

  background-color: #cd1b1b;
}

.btn-section .second-button {
  color: black;
  border-color: #cd1b1b;
}

.image-section {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 128, 0, 0.182); */
  position: relative;
}

.circle-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle {
  content: "";
  width: 350px;
  height: 350px;
  background: linear-gradient(120deg, #d81616 10%, #252525 80%);
  border-radius: 50%;
  box-shadow: 10px 0 20px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.scrolling-text {
  height: 400%;
  width: 10%;

  transform: rotate(40deg);
  color: white;
  background-color: rgba(255, 163, 163, 0.3);
  position: absolute;
  white-space: nowrap;
  animation: scrollText 3s linear infinite;
  box-shadow: 0 0 15px 20px rgba(255, 163, 163, 0.3);
}

@keyframes scrollText {
  from {
    top: 100%;
    left: 100%;
  }
  to {
    top: -100%;
    left: -100%;
  }
}
.image-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 30vw;
}

.image-overlay img {
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  animation: fade-in 2s ease-in-out;
}
.profile-image {
  animation: fade-in 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .text-section {
    width: 90%;
  }
  .text-section .name {
    font-size: 10vw;
  }
  .text-section .about {
    font-size: 17px;
  }

  .btn-section .btn {
    width: 120px;
  }
  .btn-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .btn-section .first-button {
    background-color: #cd1b1b;
  }

  .image-section {
    width: 90%;
    height: 40%;
    display: flex;
    /* align-items: flex-end; */
  }

  .image-overlay {
    right: 15%;
    height: 60%;
    width: 60%;
  }
  .image-overlay img {
    position: absolute;
    bottom: 0;
  }

  .container {
    flex-direction: column;

    height: 100vh;
  }

  .circle {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 600px) {
  .btn-section .btn {
    min-width: 110px;
  }

  .text-section .name {
    /* font-size: 6vw; */
    font-size: 5vw;
  }

  .text-section .about {
    font-size: 17px;
  }

  .circle {
    width: 40vw;
    height: 40vw;
  }
  .image-overlay {
    left: 0;
    width: 45vw;
    height: 45vw;
  }
}

@media (min-width: 800px) {
  .circle {
    width: 30vw;
    height: 30vw;
  }

  .image-overlay {
    left: 10%;
    width: 40vw;
    height: 40vw;
  }
}
