@font-face {
  font-family: "Montserratv2";
  src: url("../../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserratv2";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 200;
}

.work {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.work-div {
  width: 80vw;
}

.work-div .timeline-div {
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.work-title {
  color: white;
  font-family: MetropolisBold;
  font-size: 3vw;
  margin: 15px;
}

.work-div .timeline-div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.work-div .timeline-div::-webkit-scrollbar-thumb {
  background-color: #ff00008a;
  border-radius: 10px;
}

.work-div .timeline-div::-webkit-scrollbar-track {
  background-color: #f0f0f000;
  border-radius: 10px;
}

.company {
  font-family: MetropolisBold;
  color: white;
  margin: 0;
}

.role p {
  font-family: Montserratv2;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin: 20px 0;
}

.date {
  font-family: Montserratv2;
  color: white;
  font-size: 13px;
  margin: 0;
}
.work .cv-btn {
  margin-top: 10px;
  color: white;
  border-radius: 30px;
  border-color: white;
}

.work .cv-btn:hover {
  border-color: #920000;
  border-radius: 30px;
  background-color: #920000;
  transition: 0.5s;
}

.timeline {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.asa {
  height: 20vh;
}

.cv-btn p {
  font-family: Montserratv2;
  margin: 0;
  font-size: 12px;
}

@media (max-width: 600px) {
  .work-title {
    font-size: 5vw;
  }
  .txt-div {
    /* width: 50px; */
    font-size: 10px;
  }
  .role p {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }
}
